 <ion-view view-title="LEADERSHIP">
        <ion-content class="padding">
           
           <div class="row" style="text-align:center;">
             
               <div class="col col-85 col-offset-5">
                   <i class="ion-trophy leadership"></i>
                   <button class="leadership-1st">
                       <span class="first">1.</span>
                   </button>
                   
                   <button class="leadership-2nd">
                       <span class="first">2.</span>
                   </button>
                   
                   <button class="leadership-3rd">
                       <span class="first">3.</span>
                   </button>
                   
                   <button class="leadership-rest">
                       <span class="rest">4.</span>
                   </button>
                   
                   <button class="leadership-rest">
                       <span class="rest">5.</span>
                   </button>
                   
                   <button class="leadership-rest">
                       <span class="rest">6.</span>
                   </button>
                  <a href="" style="dislay: inline-block" ng-click="openModalBadges()">
                       <img src="img/badges/badge1.png" width="50" height="50" alt="" class="view-badges" />
                       <p style="float: right; color: white; text-decoration: none; margin-top: 25px;">View Badges</p>
                  </a>
        
           </div>
            </div>
        </ion-content>
        
         <div class="bar bar-footer">
             <div class="title">Copyright 2016 | Gentle Bebes</div>
        </div>
</ion-view>