<ion-modal-view>
    <ion-header-bar class="bar-custom">
        <h1 class="title community-reportTitle">BADGES</h1>

        <button class="button button-clear button-primary" ng-click="closeModal(2)"><i class="ion-close"></i></button>
    </ion-header-bar>
    <ion-content padding="false">
            <div class="row">
                <div class="col col-80 col-offset-10" style="text-align: center;">
                    <img src="img/badges/badge.png" width="50" height="50" alt="">
                    <p class="juanabadge">Juana Badge</p>
                    <p>Participate in helping the society for it to be safe for women and free from fear!</p>
                    
                    <img src="img/badges/badge1.png" width="50" height="50" alt="" style=" margin-top: 25px;">
                    <p class="rainbowbadge" style="color: #f8a052;">Rainbow Badge</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    
                    <img src="img/badges/badge2.png" width="50" height="50" alt="" style=" margin-top: 25px;">
                    <p class="rainbowbadge" style="color: #f23d44;">Soul Badge</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    
                    <img src="img/badges/badge3.png" width="50" height="50" alt="" style=" margin-top: 25px;">
                    <p class="rainbowbadge">Locked</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    
                    <img src="img/badges/badge4.png" width="50" height="50" alt="" style=" margin-top: 25px;">
                    <p class="rainbowbadge">Locked</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    
                    <img src="img/badges/badge5.png" width="50" height="50" alt="" style=" margin-top: 25px;">
                    <p class="rainbowbadge">Locked</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
    </ion-content>
</ion-modal-view>