<ion-view view-title="MAP">
    <ion-content>
        <div class="map-container"></div>
        
        <div class="row row-map">
            <div class="col col-50 left-col">
                <p>Main City <br />
                <small>&nbsp;&nbsp;&nbsp; Specific Place</small></p>
            </div>
            <div class="col col-50 right-col">
                <button class="button-stats">View CRime Statistics</button>
            </div>
        </div>
    </ion-content>
    
    <div class="bar bar-footer">
            <div class="title">Copyright 2016 | Gentle Bebes</div>
        </div>
</ion-view>