<ion-view view-title="report-women">
    <ion-content scroll="false" id="signin-content" ng-style="changeBG">
      
        <ion-header-bar align-title="left" class="bar-custom" >
 
  <h1 class="title" style="color: white!important;">REPORT INBOX</h1>
</ion-header-bar>
        
        <img src="img/contacts.png" width="60" height="60" alt=""style="margin: 70px 10px 0 15px;">
        <div class="person-details">
            <p>Name</p> <br> 
            <p>date - 0:00pm</p> <br>
            <p>Victim's Message</p>
                </div>
    </ion-content>
</ion-view>