 <ion-view view-title="STATS">
        <ion-content class="padding" scroll="true">
        <h1 style="color:white; font-family: 'Bebas';">Quezon City</h1>
        <h3 style="color:white; font-family: 'Bebas';">Don Fabian Commonwealth</h3>
        <div class="highlights" style="color: black; text-align: center; margin-bottom: 30px;">
        	<h1 style="color:white; font-family: 'Bebas';">HIGHLIGHTS</h1>
        	<div class="first" style="background-color: pink; font-family: 'Bebas';">You are in a very/somewhat safe place</div>
        	<div class="second" style="background-color: white; font-family: 'Bebas';">The highest harrassment percentage is wolf whistling</div>
        	<div class="third" style="background-color: pink; font-family: 'Bebas';">58% are experienced on the streets, major roads, and eskinitas</div>
        	<div class="fourth" style="background-color: white; font-family: 'Bebas';">70% are experienced during the day(6am to 6pm)</div>
        </div>
        <h3 style="text-align: center; color:white;">HOW SAFE ARE YOU?</h3>
        <div>
       		<canvas id="myChart" width = "400" height="400" style="position: absolute; top: 65%; left: 50%; transform:translate(-50%, -50%); padding: 25%;"></canvas>
       	</div>

        </ion-content>
</ion-view>