    
       <ion-tabs class="tabs-assertive tabs-icon-top customColor">

            <ion-tab icon="ion-map" ui-sref="tabs.map" class="logo-margin-tabs">
                <ion-nav-view name="map"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="ion-android-warning" ui-sref="tabs.emergency" class="logo-margin-tabs">
                <ion-nav-view name="emergency"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="ion-document-text" ui-sref="tabs.report" class="logo-margin-tabs">
            <ion-nav-view name="report"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="ion-ios-bell" ui-sref="tabs.alert" class="logo-margin-tabs">
                <ion-nav-view name="alert"></ion-nav-view>
            </ion-tab>

            <ion-tab icon="ion-gear-b" ui-sref="tabs.settings" class="logo-margin-tabs">
                <ion-nav-view name="settings"></ion-nav-view>
            </ion-tab>


        </ion-tabs>
