<div class="row" padding="false">
    <div class="col col-85 col-offset-5">
        <img src="img/icons/jedineth.png" alt="" / width="300">
        
        <div style="text-align: left;">
             <p class="whatiscatcalling-text">WHAT IS CAT CALLING?</p>
             <p class="catlcall-definition">Street harassment is also known as catcalling. Catcalling is defined a whistle, shout, or a sexual move on a road full of bystanders.</p>
             
              <p class="whatiscatcalling-text">HOW TO AVOID CATCALLS?</p>
             <p class="catlcall-definition">Know the place. Avoid risking your safety by walking on a road full of bystanders.</p>
             
             <p class="whatiscatcalling-text">WHAT TO DO WHEN IT HAPPENED?</p>
             <p class="catlcall-definition">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, tempora! Facere laborum sequi aliquid deleniti saepe expedita consequatur, quaerat nulla. Placeat possimus molestias at quo incidunt quisquam porro, laudantium aperiam!.</p>
        </div>
        
        
       
    </div>
</div>